#myText{
    color: grey;
}

#container{
    max-width: 300px;
    height: 100px;
    margin: auto;
    padding: 50px;
    background-color: rgba(119, 36, 105, 0.85);
}

.upl-share-form{
    max-width: 500px;
    height: 100%;
    margin: auto;
    padding: 50px;
    background-color: rgba(119, 36, 105, 0.85);
}

.upl-header-icon{
    margin: 20px 175px 20px;
    align-content: center;
}

.upl-btn{
    width: 200px;
    margin: 50px auto 0;
}

#previewImage{
    max-width: 300px;
}

.photo-text{
    margin: 20px 0 0 20px;
    height: 150px;
    width: 350px;
}